body, html{
    font-family: 'Lobster', cursive;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid{
    text-align: center;
    
}

.jumbotron-with-background {
    background-image: url(../imagens/cabeçalho1.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.display-4{
    color: #ffffff;
    text-shadow: 1px 1px black;
}

.lead{
    color: #ffffff;
    text-shadow: 1px 1px black;
}
.btn.btn-light{
    margin-top: 15px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    color: rgb(5, 5, 5);

}
.display-5{
 color: black;
 text-shadow: black;
 margin: right 15px;

}

.lead1{
    color: rgb(63, 63, 63);

}
.display-6{
    font-size: 150%;
    margin-top: 15px;
color: black;
font-family: 'Poppins', sans-serif;
}
.display-7{
    font-size: 160%;
    margin-top: 15px;
    color: black;
    font-family: 'Poppins', sans-serif;
}
.display-8{
    font-size: 150%;
    margin-top: 15px;
    color: black;
    font-family: 'Poppins', sans-serif;
}

main.cards{
    display: flex;  
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #434343;
    margin-left: 20px;
}

main.cards section.cards{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 64px 50px;
    border-radius: 8px;
    max-height: 256px;
   
}

main.cards section.cards :first-child{
    margin-left: 0;
}
main.cards section.cards .icon{
    width: 64px;
    height: 64px;

}
main.cards section.cards img{
width: 100%;
}

@media screen and (max-width: 720px) {
    main.cards{
        flex-direction: column;
    }
    main.cards section.cards{
        margin-left: 0;
        margin-bottom: 32px;
    }
}

main.cards section.card:last-child{
    margin-bottom: 0;
}